
div.userIn {
    display: flex;
    flex-direction: column;
    margin: 2% 40%;
    align-content: flex-start;
    justify-content: flex-start;
}

div.userIn input {
    margin: 1em 0;
    padding: 1em;
    border: thin solid #ccc;
    border-radius: 3px;
    text-align: center;
}
